adium-theme-ubuntu==0.3.4
ecdsa==0.13
Flask==0.10.1
freeze==1.0.10
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mysql-connector-python==2.0.4
mysql-utilities==1.6.1
paramiko==1.16.0
pexpect==4.0.1
ptyprocess==0.5
pycrypto==2.6.1
pyodbc==3.0.7
pysqlite==2.7.0
requests==2.10.0
six==1.10.0
slackclient==1.0.0
ubuntuone-client-data==14.4
unity-lens-photos==1.0
virtualenv==15.0.1
websocket-client==0.37.0
Werkzeug==0.11.9
